@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #18294f;
  padding: 5px;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

a {
  white-space: nowrap;
  color: #6c8fe0;
  text-decoration: none;
}
ul li {
  list-style-type: none;
  line-height: 2;
}

ul {
  padding: 0;
  font-size: 1.125rem;
}

@media only screen and (min-width: 25em) {

  html {
  font-size: 100%;
  line-height: 1.3;
}

  nav li {
    float: left;
    width: 50%;
    text-align: center;
    background-color: #18294f;
  }

@media only screen and (min-width: 38em) {

  html {
  font-size: 100%;
  line-height: 1.3;
}

  nav li {
    float: left;
    width: 50%;
    text-align: center;
    background-color: #18294f;
  }

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
}

  nav li {
    width: 25%;
    float: right;
  }

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
}
